<nav>
<span><a href="#openModal"><button type="button" class="btn btn-primary btn-lg btn3d">Description</button></a></span>
<span><a href="/users/<%=current_user.id%>/forms"><button type="button" class="btn btn-primary btn-lg btn3d">K-1</button></a></span>




</nav>


<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>Summary</h2>
		<p>There are certain immigration procedures from which you can research what the requirements are for applying even before you literally  pay a visit to an attorney, which is the recommended thing to do. </p>
		<p> Below there is a USCIS video of how to submit the I-539 form by the applicant. Although the video may be outdated, the procedure is the same for different forms.</p>
	</div>
</div>



 <iframe width="700" height="700" src="https://www.youtube.com/embed/f623xZUTXdM?autoplay=1" frameborder="0" allowfullscreen></iframe>

