




  <div class="row">
    <section id="pinBoot">

      <article class="white-panel"><a href="https://www.uscis.gov"><img src="https://www.uscis.gov/sites/default/files/images/insHistory9.jpg" alt="USCIS"></a>
      <h4>First: USCIS !</h4>
        <p>All the information you need is in the link above(United States Citizenship and Immigration Services).</p>
      </article>

      <article class="white-panel"><a href="https://www.uscis.gov/sites/default/files/files/form/i-129finstr.pdf"> <img src="http://www.davidmansaray.com/wp-content/uploads/2011/09/studying.jpeg" alt="studying"></a>
        <h4>Do your research, there is a lot you need to read.</h4>
        <p>In the top lef corner of the site there is a tab called 'Forms'. If you click on it  you can look for you for the petition for Alien Fiancé(Form I-129F). Before you go to the form, visit first the instructions in the link above.</p>
      </article>

      <article class="white-panel"><a href="https://www.uscis.gov/sites/default/files/files/form/i-129f.pdf"> <img src="/assets/form.png" alt="Form"></a>
        <h4>Form I-129F</h4>
        <p>After you have reviewed the instrucionts thoroughly, the link above shows you the form that you need to fill based on your own information.</p>
      </article>


      <article class="white-panel"><img src="https://pixabay.com/static/uploads/photo/2013/07/13/11/36/documents-158461_960_720.png" alt="Documents">
        <h4>Documentation</h4>
        <p> There are certain documents you need to submit. Review the documentation along with  the payments.   </p>
      </article>

      <article class="white-panel"><a href="https://www.uscis.gov/sites/default/files/files/form/g-1145.pdf"> <img src="/assets/form2.jpg" alt="form2"></a>
        <h4> Form G-1145</a></h4>
        <p>Read the documentation. </p>
      </article>

      <article class="white-panel"> <img src="http://www.seniormotif.com/wp-content/uploads/2013/11/Attorney-Fees.jpg" alt="attorneys">
        <h4>If you feel unsecure filling the forms, seek an immigration attorney.</h4>
        <p></p>
      </article>



      <article class="white-panel"><img src="http://cabreralawoffices.com/wp-content/uploads/2013/10/Personal-Injury-Attorneys-Opelousas-LA.jpg" alt="attorney">
        <h4>Immigration attorney</h4>
        <p>If you can't find an immigration attorney leave us a message thru the chat and we can provide a list of lawyers that you can contact.</p>
      </article>

      <article class="white-panel"><a href="/" <img src="http://betanews.com/wp-content/uploads/2014/08/byebye.jpg" alt="home"></a>
        <h4>Good Luck</h4>
        
      </article>

    </section>


    <hr>


  </div>
 
</div>


<div> <%= link_to "Logout", destroy_user_session_path, data: { method: :delete } %> </div>  
