<div class="form2">
	<img src="/assets/pasaporte.jpg" alt="Passport" class="pasaporte">
<div class="form_page">
	<h1><%= @user.name %></h1>
	<img src="/assets/pasaporte.jpg" alt="Passport" class="pasaporte">
</div> 
<div>
	<span><a href="forms/new"><button type="button" class="btn btn-primary btn-lg btn3d">Fiancé Form</button></a></span>
	<span><a href=" /users/user_form"><button type="button" class="btn btn-primary btn-lg btn3d">Back</button></a> </span><br>
 	<%= link_to "Logout", destroy_user_session_path, data: { method: :delete } %> 
</div>
</div>